$whitegrey-color: #f5f3f0;
$lightgrey-color: #b9b9b9;
$mediumgrey-color: #828282;
$blackgrey-color: #242424;


$lightorange-color: #ff8618;
$brightorange-color: #ec6500;

$fadeorange-color:#e7412c;
$darkorange-color: #c02914;

$catalog-menu-border-color: #e4e3e1;

$tablet-width: "(min-width: 980px)" ;
$desktop-width: "(min-width: 1200px)";
$wide-width: "(min-width: 1200px)";


$header-height: 70px;
$sidebar-width: 65px;
$block-link-height:50px;


$catalog-menu-categories: kitchens, tables, benches, softfurniture, beds, mirrors, storage, light, accesorizes, compositions;
$catalog-icon-links: extra, discount, instock;
$catalog-icons: kitchens, tables, benches, softfurniture, beds, mirrors, storage, light, compositions, extra, accesorizes, discount, instock;


$sticky-wrapper-z-index:1;
$page-header-z-index: 1;


$duration: 100ms;
$delay:100ms;

$cat-duration: 100ms;
$cat-delay: 100ms;

$link-duration: $cat-duration/2;
$link-delay: $cat-delay/2;
