footer.page-footer
  .page-footer__nav
    ul.page-footer__nav-section
      li
        h3.page-footer__nav-section-header Информация
      li
        a.page-footer__nav-link(href='#') О компании
      li
        a.page-footer__nav-link(href='#') Новости
      li
        a.page-footer__nav-link(href='#') Проекты
      li
        a.page-footer__nav-link(href='#') Отзывы
      li
        a.page-footer__nav-link(href='#') Блог
      li
        a.page-footer__nav-link(href='#') Термины
    ul.page-footer__nav-section
      li
        h3.page-footer__nav-section-header Условия
      li
        a.page-footer__nav-link(href='#') Условия работы
      li
        a.page-footer__nav-link(href='#') Сроки
      li
        a.page-footer__nav-link(href='#') Доставка
    ul.page-footer__nav-section
      li
        h3.page-footer__nav-section-header Сотрудничество
      li
        a.page-footer__nav-link(href='#') Для дизайн-студий и частных компаний
    ul.page-footer__nav-section.page-footer__nav-section--contacts
      li
        a.page-footer__nav-section-header.page-footer__nav-section-header--link(href='/contacts') Контакты
      li
        a.page-footer__phone(href='tel:+74956428360') +7 495 642-83-60
      li
        a.page-footer__nav-link.page-footer__nav-link--mail(href='mailto:info@ib-gallery.ru') info@ib-gallery.ru
      li
        span.page-footer__nav-text 125284, г. Москва, ул. Беговая аллея, дом 3
      li#footer-social-links.page-footer__social-links-wrap
        .social-links
          a.social-links__social-link.social-links__social-link--vk(href='http://vk.com/ibgallery') http://vk.com/ibgallery
          a.social-links__social-link.social-links__social-link--in(href='http://instagram.com/ib_gallery.moscow') http://instagram.com/ib_gallery.moscow
          a.social-links__social-link.social-links__social-link--f(href='http://facebook.com/ibmoscow/') http://facebook.com/ibmoscow/
      li
        span.page-footer__work-hours
          | Пн-пт — с 10:00 до 21:00
          br
          | 									Cб-вс — с 11:00 до 19:00
      li.page-footer__user-id.user-id Ваш ID: 117-401
  .page-footer__copy-info
    span.page-footer__protected © 1998—2017 IB Gallery. Все права защищены.
    .page-footer__developed
      | Разработка сайта 
      a.page-footer__dac-link(href='http://www.d-a-c.ru/')  Digital Art Company
    p.page-footer__disclaimer
      | Обращаем ваше внимание на то, что данный контент-сайт носит исключительно информационный характер и ни при каких условиях информационные материалы и цены, размещенные на сайте, не является публичной офертой,
      | определяемой положениями Статьи 437 Гражданского кодекса РФ.
