a.geolocation__current(href='#')
  span.geolocation__current-style Ханты-Мансийский автономный округ
.geolocation__picker-wrap
  .geolocation__header Выберите ваш регион
  .geolocation__picker
    ul.geolocation__region-list
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=msk') Москва и область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=spb') Санкт-Петербург и область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=tver') Тверская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=tula') Тульская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=kaluga') Калужская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=yaroslavl') Ярославская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=ivanovo') Ивановская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=vladimir') Владимирская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=brnsk') Брянская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=nnovgorod') Нижнегородская
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=rzn') Рязанская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=orel') Орловская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=kursk') Курская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=vrn') Воронежская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=lipetsk') Липецкая область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=tambov') Тамбовская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=volgograd') Волгоградская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=penza') Пензенская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=saratov') Саратовская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=saransk') Мордовия республика
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=kostroma') Костромская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=belgorod') Белгородская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=rostov') Ростовская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=astrakhan') Астраханская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=stavropol') Ставропольский край
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=krasnodar') Краснодарский край
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=kalm') Республика Калмыкия
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=belarus') Беларусь
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=kchr') Карачаево-Черкесская Республика
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=kbr') Кабардино-Балкарская Республика
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=dagestan') Республика Дагестан
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=chechnya') Руспублика Чечня
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=vladikavkaz') Северная Осетия
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=ingushetia') Республика Ингушетия
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=samara') Самарская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=orenburg') Оренбургская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=kirov') Кировская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=ulyanovsk') Ульяновская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=chuvashia') Республика Чувашия
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=nao') Ненецкий автономный округ
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=chelyabinsk') Челябинская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=perm') Пермский край
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=kurgan') Курганская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=ola') Республика Марий Эл
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=ekaterinburg') Свердловская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=tumen') Тюменская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=tomsk') Томская область
      li.active
        a.geolocation__region-link(href='/?region=hm') Ханты-Мансийский автономный округ
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=yamal') Ямало-Ненецкий автономный округ
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=chukotka') Чукотский автономный округ
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=kamchanka') Камчатский край
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=habarovsk') Хабаровский край
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=vladivostok') Приморский край
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=sahalin') Сахалинская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=eao') Еврейская автономная область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=amyrskaya') Амурская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=altai') Республика Алтай
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=hakasiya') Республика Хакасия
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=tuva') Республика Тыва
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=byryatia') Республика Бурятия
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=zabaikalskii') Забайкальский край
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=irkutsk') Иркутская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=yakutiya') Республика Саха
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=magadan') Магаданская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=smln') Смоленская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=nov') Новосибирская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=kem') Кемеровская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=alt') Алтайский край
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=kra') Красноярский край
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=oms') Омская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=udm') Удмуртия
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=tat') Татарстан
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=bash') Башкортостан
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=rkarel') Республика Карелия
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=rkomy') Республика Коми
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=archan') Архангельская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=vologod') Вологодская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=pskov') Псковская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=novgorod') Новгородская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=murm') Мурманская область
      li.geolocation__region-item
        a.geolocation__region-link(href='/?region=kzh') Казахстан
