a.geolocation__current(href='#')
  span.geolocation__current-style Ханты-Мансийский автономный округ
.geolocation__picker
  .geolocation__header Выберите ваш регион
  ul.geolocation__region-list
    li.geolocation__region-item
      a.geolocation__region-link Санкт-Петербург и область
    li.geolocation__region-item
      a.geolocation__region-link Тверская область
    li.geolocation__region-item
      a.geolocation__region-link Тульская область
    li.geolocation__region-item
      a.geolocation__region-link Калужская область
    li.geolocation__region-item
      a.geolocation__region-link Ярославская область
