.catalog__item.good
  .good__back
    .good__base-info
      a.good__link(href='#')
        img.good__photo(src='img/good-5.jpg', alt='')
        span.good__id # 292941
        span.good__zoom
      span.good__brand Sormani
      a.good__name-link(href='#') Модульный диван Charm CharmCharm CharmCharmCharm CharmCharm  CharmCharm CharmCharm CharmCharmCharm CharmCharm
      span.good__price
        | от 
        span.good__price-value 283’670
        |  руб
    .good__info
      p.good__description Кожаный диван с деревяной основой и алюминиевыми ножками.
      a.good__to-liked(href='#') Добавить в избранное
