.catalog__item.good
  .good__back
    .good__base-info
      a.good__link(href='#')
        img.good_photo(src='img/good-1.png', alt='')
        span.good__id # 292941
      span.good__brand Sormani
      h4.good__name
        a.good__name-link(href='#') Модульный диван Charm Hertyu
      span.good__price
        | от
        span.good__price-value 283'670
        |  руб
    .good__info
      p.good__description Кожаный диван с деревяной основой и алюминиевыми ножками.
      a.good__to-liked(href='#') Добавить в избранное
