nav#main-nav.main-nav
  ul.main-menu
    li.main-menu__item.main-menu__item--catalog
      a.main-menu__link.main-menu__link--catalog.mobile-menu-link(href='#') Каталог
      ul.sub-menu.catalog-menu
        li.sub-menu__item.catalog-menu__item
          a.catalog-menu__section-link.catalog-menu__section-link--kitchens.mobile-menu-link Кухни
          ul.catalog-menu__category-list
            li.catalog-menu__category-list-item
              a.catalog-menu__category-header(href='/type/kitchen/') Кухни
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Угловые кухни
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Кухни-острова
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Кухни из массива дерева
        li.sub-menu__item.catalog-menu__item
          a.catalog-menu__section-link.catalog-menu__section-link--tables.mobile-menu-link Столы и стулья
          ul.catalog-menu__category-list
            li.catalog-menu__category-list-item
              a.catalog-menu__category-header(href='/catalog/tables-and-chairs/') Столы и стулья
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name.mobile-menu-link(href='#') Столы
              ul.catalog-menu__subcategory-list
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header(href='#') Столы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Стеклянные столы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Деревянные столы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Круглые (овальные) столы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Письменные столы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Обеденные столы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Журнальные столики
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Туалетные столики
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Столы-трансформеры
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Компьютерные столы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Дизайнерские столы
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Консоли
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name.mobile-menu-link(href='#') Стулья
              ul.catalog-menu__subcategory-list
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header(href='#') Стулья
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Обеденные стулья
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Барные стулья
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Складные стулья
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Дизайнерские стулья
        li.sub-menu__item.catalog-menu__item
          a.catalog-menu__section-link.catalog-menu__section-link--benches.mobile-menu-link Банкетки и скамьи
          ul.catalog-menu__category-list
            li.catalog-menu__category-list-item
              a.catalog-menu__category-header(href='/catalog/banquette-n-bench/') Банкетки и скамьи
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Банкетки
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Скамьи
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Шезлонги
        li.sub-menu__item.catalog-menu__item
          a.catalog-menu__section-link.catalog-menu__section-link--softfurniture.mobile-menu-link Мягкая мебель
          ul.catalog-menu__category-list
            li.catalog-menu__category-list-item
              a.catalog-menu__category-header(href='/catalog/soft-furnitures/') Мягкая мебель
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name.mobile-menu-link(href='#') Кресла
              ul.catalog-menu__subcategory-list
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header(href='#') Кресла
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Кресла-качалки
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Дизайнерские кресла
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Кресла-кровати
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Кожаные кресла
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name.mobile-menu-link(href='#') Диваны
              ul.catalog-menu__subcategory-list
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header(href='#') Диваны
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Диваны-кровати
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Модульные диваны
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Угловые диваны
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Дизайнерские диваны
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Кожаные диваны
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name.mobile-menu-link(href='#') Пуфы
              ul.catalog-menu__subcategory-list
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header(href='#') Пуфы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Дизайнерские пуфы
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Шезлонги
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name.mobile-menu-link(href='#') Кровати
              ul.catalog-menu__subcategory-list
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header(href='#') Кровати
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Кованые кровати
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Детские кровати
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Круглые кровати
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Односпальные кровати
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Кровати с мягким изголовьем
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Кровати из массива дерева
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Кожаные кровати
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Кровати с пневмоподъемом
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Кушетки
        li.sub-menu__item.catalog-menu__item
          a.catalog-menu__section-link.catalog-menu__section-link--beds.mobile-menu-link Кровати
          ul.catalog-menu__category-list
            li.catalog-menu__category-list-item
              a.catalog-menu__category-header(href='/type/bed/') Кровати
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Кованые кровати
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Детские кровати
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Круглые кровати
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Односпальные кровати
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Кровати с мягким изголовьем
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Кровати из массива дерева
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Кожаные кровати
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Кровати с пневмоподъемом
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Дизайнерские кровати
        li.sub-menu__item.catalog-menu__item
          a.catalog-menu__section-link.catalog-menu__section-link--mirrors.mobile-menu-link Зеркала
          ul.catalog-menu__category-list
            li.catalog-menu__category-list-item
              a.catalog-menu__category-header(href='/type/mirror/') Зеркала
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Настенные зеркала
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Напольные зеркала
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Дизайнерские зеркала
        li.sub-menu__item.catalog-menu__item
          a.catalog-menu__section-link.catalog-menu__section-link--storage.mobile-menu-link Системы хранения
          ul.catalog-menu__category-list
            li.catalog-menu__category-list-item
              a.catalog-menu__category-header(href='#') Системы хранения
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Модульные системы
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Стенки
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name.mobile-menu-link(href='#') Шкафы
              ul.catalog-menu__subcategory-list
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header(href='#') Шкафы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Шкафы-купе
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Книжные шкафы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Встроенные шкафы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Угловые шкафы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Шкафы для посуды
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Дизайнерские шкафы
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Буфеты
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Серванты
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Витрины
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name.mobile-menu-link(href='#') Бюро
              ul.catalog-menu__subcategory-list
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header(href='#') Бюро
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Секретеры
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Комоды
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name.mobile-menu-link(href='#') Тумбы
              ul.catalog-menu__subcategory-list
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header(href='#') Тумбы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Тумбы для ТВ
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Прикроватные тумбочки
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Стеллажи
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Полки
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Бары
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Стойки для ТВ
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Сейфы
        li.sub-menu__item.catalog-menu__item
          a.catalog-menu__section-link.catalog-menu__section-link--light.mobile-menu-link Освещение
          ul.catalog-menu__category-list
            li.catalog-menu__category-list-item
              a.catalog-menu__category-header(href='/catalog/lights/') Освещение
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name.mobile-menu-link(href='#') Люстры
              ul.catalog-menu__subcategory-list
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header(href='#') Люстры
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Хрустальные люстры
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name.mobile-menu-link(href='#') Светильники и лампы
              ul.catalog-menu__subcategory-list
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header(href='#') Светильники и лампы
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Настенные светильники
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Настольные светильники
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Потолочные светильники
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Напольные светильники
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Точечные светильники
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Дизайнерские светильники
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Уличное освещение
        li.sub-menu__item.catalog-menu__item
          a.catalog-menu__section-link.catalog-menu__section-link--accesorizes.mobile-menu-link Аксессуары
          ul.catalog-menu__category-list
            li.catalog-menu__category-list-item
              a.catalog-menu__category-header(href='/type/accessory/') Аксессуары
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Вешалки
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Настенные часы
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Шкатулки
        li.sub-menu__item.catalog-menu__item
          a.catalog-menu__section-link.catalog-menu__section-link--compositions.mobile-menu-link Композиции
          ul.catalog-menu__category-list
            li.catalog-menu__category-list-item
              a.catalog-menu__category-header(href='/catalog/collections/') Композиции
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Ванные
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Спальни
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Столовые
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Гостиные
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Кабинеты
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Библиотеки
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Детские
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Прихожие
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Гардеробные комнаты
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Стеновые композиции
            li.catalog-menu__category-list-item
              a.catalog-menu__category-name(href='#') Уличные композиции
        li.sub-menu__item.catalog-menu__item
          a.catalog-menu__section-link.catalog-menu__section-link--extra.mobile-menu-link Дополнительно
          ul.catalog-menu__category-list
            li.catalog-menu__category-list-item.mobile-only
              a.catalog-menu__category-header Дополнительно
            li.catalog-menu__category-list-item
              span.catalog-menu__category-name.catalog-menu__category-name--header-style.mobile-menu-link Назначение
              ul.catalog-menu__subcategory-list.catalog-menu__subcategory-list--no-margin
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header Назначение
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Мебель для кухни
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Мебель для столовой
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Мебель для гостиной
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Мебель для спальни
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Рабочее место
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Мебель для детской
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Мебель для прихожей
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Мебель для гардеробной комнаты
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Мебель для ванной комнаты
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Садовая мебель
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Мебель для ТВ
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Дизайнерская мебель
            li.catalog-menu__category-list-item
              span.catalog-menu__category-name.catalog-menu__category-name--header-style.mobile-menu-link Стили
              ul.catalog-menu__subcategory-list.catalog-menu__subcategory-list--no-margin
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-header Стили
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Классическая мебель
                li.catalog-menu__subcategory-list-item
                  a.catalog-menu__subcategory-link(href='#') Современная мебель
            li.catalog-menu__category-list-item
              a.catalog-menu__category-header(href='#') Дизайнеры мебели
        li.sub-menu__item.catalog-menu__item.catalog-menu__item--collapsing.catalog-menu__item--collapsing-right.catalog-menu__item--discount.wide-only
          a#discount.catalog-menu__section-link.catalog-menu__section-link--discount(href='/catalog/with_discount/') Со скидкой
        li.sub-menu__item.catalog-menu__item.catalog-menu__item--collapsing.catalog-menu__item--instock.wide-only
          a.catalog-menu__section-link.catalog-menu__section-link--instock(href='/catalog/in_stock/') В наличии
        li.sub-menu__item.catalog-menu__item.catalog-menu__item--personal.wide-only
          a.catalog-menu__section-link.catalog-menu__section-link--personal(href='#') Войти на сайт
        // End of catalog menu
    li.main-menu__item.mobile-only
      a.main-menu__link(href='/catalog/with_discount/') Со скидкой
    li.main-menu__item.mobile-only
      a.main-menu__link(href='/catalog/in_stock/') В наличии
    li.main-menu__item.main-menu__item--fabrics
      a.main-menu__link.main-menu__link--info.main-menu__link--no-sub-mobile(href='#') Фабрики
      .sub-menu.fabrics-menu
        .fabrics-menu__main-container
          .fabrics-menu__panel
            a.fabrics-menu__letter-link.fabrics-menu__letter-link--popular Популярные
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=A') A
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=B') B
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=C') C
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=D') D
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=E') E
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=F') F
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=G') G
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=H') H
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=I') I
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=J') J
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=K') K
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=L') L
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=M') M
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=N') N
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=O') O
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=P') P
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=Q') Q
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=R') R
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=S') S
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=T') T
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=U') U
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=V') V
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=W') W
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=X') X
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=Y') Y
            a.fabrics-menu__letter-link(href='/catalogs_and_prices/?query=&letter=Z') Z
          .fabrics-menu__scroll-container
            .fabrics-menu__brand-lists
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter A
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/agresti/') Agresti
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/alberta-salotti/') Alberta
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/alex-turco/') Alex Turco
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/alf/') ALF
                  .official_dealer
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/alivar/') Alivar
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/altrenotti/') Altrenotti
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/amclassic/') Amclassic
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/andtradition/') andTradition
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/angelo-cappellini/') Angelo Cappellini
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/arketipo/') Arketipo
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/arredo3/') Arredo3
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/asnaghi/') Asnaghi
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/asnaghi_interiors/') Asnaghi Interiors
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/aster-cucine/') Aster Cucine
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/axolight/') Axo Light
                  .official_dealer
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter B
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/bakokko/') Bakokko
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/baxter/') Baxter
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/bedding/') Bedding
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/besana/') Besana
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/bianchini-capponi/') Bianchini & Capponi
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/bizzotto/') Bizzotto
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/boca-do-lobo/') Boca Do Lobo
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/bolzan/') Bolzan
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/bonaldo/') Bonaldo
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/bruno_zampa/') Bruno Zampa
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter C
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/calligaris/') Calligaris
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/casamilano/') Casamilano
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/cattelan-italia/') Cattelan Italia
                  .official_dealer
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/ceccotti-collezioni/') Ceccotti Collezioni
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/cesar/') Cesar
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/chelini/') Chelini
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/christopher-guy/') Christopher Guy
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/connubia/') Connubia
                  .official_dealer
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/costantini-pietro/') Costantini Pietro
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter D
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/dale/') Dale
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/de-majo/') De Majo
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/desiree/') Desiree
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/ditre-italia/') Ditre Italia
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/domingo_salotti/') Domingo Salotti
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/domitalia/') Domitalia
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/dvhome/') DV Home
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter E
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/edone/') Edone
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/eichholtz/') Eichholtz
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/elledue/') Elledue
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/epoque/') Epoque
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/estel/') Estel
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter F
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/fabbian/') Fabbian
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/falma/') Falma
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/flexform/') FlexForm
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/flou/') Flou
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/fm-bottega-darte/') FM Bottega D’Arte
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/foscarini/') Foscarini
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/francescomolon/') Francesco Molon
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/fratelli-boffi/') Fratelli Boffi
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/friul_sedie/') Friulsedie
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter G
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/galimberti/') Galimberti Nino
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/gervasoni/') Gervasoni
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/giorgetti/') Giorgetti
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/giorgio/') Giorgio Collection
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/gurian/') Gurian
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter I
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/ivano-redaelli/') Ivano Redaelli
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter L
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/lottocento/') L'Ottocento
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/la-murrina/') La Murrina
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/lago/') Lago
                  .official_dealer
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/longhi/') Longhi
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/luciano-zonta/') Luciano Zonta
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter M
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/mantellassi/') Mantellassi
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/marac/') Marac
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/masiero/') Masiero
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/mechini/') Mechini
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/meridiani/') Meridiani
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/midj/') Midj
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/milano-bedding/') Milano Bedding
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/minotti/') Minotti
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/mobilidea/') Mobilidea
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/moda/') Moda
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/modulnova/') Modulnova
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/molteni-and-c/') Molteni&C
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/morelato/') Morelato
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/moroso/') Moroso
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter O
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/oldline/') Old Line
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/ozzio/') Ozzio
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter P
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/patina/') Patina
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/baga/') Patrizia Garganti (BAGA)
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/pedini/') Pedini
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/penta/') Penta
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/poltronafrau/') Poltrona Frau
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/porada/') Porada
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/potocco/') Potocco
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/pregno/') Pregno
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter R
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/reflex-and-angelo/') Reflex & Angelo
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/riva-1920/') Riva 1920
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/rivolta/') Rivolta
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter S
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/salda/') Salda
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/sangiacomo/') Sangiacomo
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/saviofirmino/') Savio Firmino
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/selva/') Selva
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/sigmal2/') SigmaL2
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/silik/') Silik
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/silvano-grifoni/') Silvano Grifoni
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/smania/') Smania
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/sormani/') Sormani
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/stella-del-mobili/') Stella del Mobile
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/stilema/') Stilema
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/swan/') Swan
                  .official_dealer
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/sylcom/') Sylcom
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter T
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/tiferno/') Tiferno
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/tonincasa/') Tonin Casa
                  .official_dealer
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/tonon/') Tonon
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/tribu/') Tribu
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/tumidei/') Tumidei
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter V
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/valdichienti/') Valdichienti
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/valmori/') Valmori
                  .official_dealer
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/veneran/') Veneran
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/vibia/') Vibia
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/vita/') Vita
                  .official_dealer
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/volpi/') Volpi
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/vondom/') Vondom
              ul.fabrics-menu__sublist
                li.fabrics-menu__brand-item
                  span.fabrics-menu__sublist-letter Z
                li.fabrics-menu__brand-item
                  a.fabrics-menu__brand-link(href='/brand/zanette/') Zanette
    li.main-menu__item
      a.main-menu__link.main-menu__link--info.mobile-menu-link(href='#') Условия
      ul.sub-menu
        li.sub-menu__item.mobile-only
          a.sub-menu__link.sub-menu__link--header(href='#') Условия
        li.sub-menu__item
          a.sub-menu__link(href='#') Условия работы
        li.sub-menu__item
          a.sub-menu__link(href='#') Сроки поставки товара
        li.sub-menu__item
          a.sub-menu__link(href='#') Доставка
    li.main-menu__item
      a.main-menu__link.main-menu__link--info.mobile-menu-link(href='#') О компании
      ul.sub-menu
        li.sub-menu__item.mobile-only
          a.sub-menu__link.sub-menu__link--header(href='#') О компании
        li.sub-menu__item
          a.sub-menu__link(href='#') О нас
        li.sub-menu__item
          a.sub-menu__link(href='#') Новости
        li.sub-menu__item
          a.sub-menu__link(href='#') Проекты
        li.sub-menu__item
          a.sub-menu__link(href='#') Отзывы
        li.sub-menu__item
          a.sub-menu__link(href='#') Блог
        li.sub-menu__item
          a.sub-menu__link(href='#') Термины
    li.main-menu__item.main-menu__item--no-sub
      a.main-menu__link.main-menu__link--info(href='#') Контакты
    li.main-menu__item
      a.main-menu__link.main-menu__link--user(href='#')
        span.mobile-only Вход
        span.wide-only Войти на сайт
