.all-page {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
  min-width: 320px;
  max-width: 100%;
  min-height: 100vh;
  background-color: #f4f3ef;


      scrollbar-base-color: #fae7cf;

      scrollbar-3dlight-color: #fae7cf;
      scrollbar-highlight-color: #fae7cf;
      scrollbar-track-color: #ff851e;
      scrollbar-arrow-color: #ff851e;
      scrollbar-shadow-color: #fae7cf;
      scrollbar-dark-shadow-color: #fae7cf;


}

h1,
h2,
h3 {
  font-weight: normal;
}
