.catalog-menu__category-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
/*стили для ссылок категорий в каталоге*/
.catalog-menu__section-link {
  background-color: #f4f3ef;
  padding-left: 70px;
  @extend .mobile-menu-link;
  transition-property: all;
  transition-delay: $cat-delay;
  transition-duration: $cat-duration;
}

/*стрелки имеют только ссылки на раскрывающиеся категории*/
.catalog-menu__section-link:not(:only-child) {
  @extend .link-arrow;
}

/*место под иконки*/
.catalog-menu__section-link::before {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 37px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: background;
  transition-delay: $cat-delay;
  transition-duration: $cat-duration;
}

/*вставка иконок
  иконка и модификатор элемента имеют одинаковое название*/
/*серые иконки*/
@each $category in $catalog-menu-categories {
  .catalog-menu__section-link--#{$category}::before {
    background-image: svg-load('../icons/#{$category}.svg', stroke=#95979a, fill=none, stroke-width=2);
  }
}
/*оранжевые иконки*/
@each $link in $catalog-icon-links {
  .catalog-menu__section-link--#{$link}::before {
    background-image: svg-load('../icons/#{$link}.svg', stroke=#ff8618, fill=none, stroke-width=2);
  }
}

/*стилизация ссылки для входа*/
.catalog-menu__section-link--personal {
  border-top: 2px solid $catalog-menu-border-color;
}
.catalog-menu__section-link--personal::before {
  background-image: svg-load('../icons/enter.svg', stroke=#ed4032, fill=none, stroke-width=2);
}

/*мобильные ссылки на категории*/
.catalog-menu__category-header,
.catalog-menu__subcategory-header {
  @extend .mobile-menu-link;
  background-color: #f4f3ef;
  &:hover {
    background-color: $lightgrey-color;
  }
}


.catalog-menu__category-name {
  @extend .mobile-menu-link;
}

/*категории с подкатегориями помечаются ссылками*/
.catalog-menu__category-name:not(:only-child) {
  @extend .link-arrow;
}

.catalog-menu__subcategory-list {
  padding: 0;
  margin: 0;
  display: none;
}

.catalog-menu__subcategory-link {
  @extend .mobile-menu-link;
}



/*------------------стили для 980-----------------------------*/
@media #{$tablet-width} {
  .catalog-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-content: flex-start;

    max-height: calc(100vh - 70px);
    max-width: 65px;
    box-sizing: border-box;

    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 65px;
    overflow-y: auto;
    overflow-x: hidden;

    visibility: visible;
    background-color: #f4f3ef;
    box-shadow: none;
    z-index: 30;
    transition-property: width;
    transition-delay: $cat-delay;
    transition-duration: $cat-delay;

  /*стилизация скролла*/
  /*хром*/
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #fae7cf;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ff851e;
    }
    /*мозилла*/
    &::-moz-scrollbar {
      width: 8px;
      background-color: #fae7cf;
    }
    &::-moz-scrollbar-thumb {
      background-color: #ff851e;
    }
    /*ie*/
    scrollbar-base-color: #ff851e;
    scrollbar-3dlight-color: #ff851e;
    scrollbar-highlight-color: #fae7cf;
    scrollbar-track-color: #fae7cf;
    scrollbar-arrow-color: #fae7cf;
    scrollbar-shadow-color: #fae7cf;
    scrollbar-dark-shadow-color: #fae7cf;

    /*стили для открытого сайдбара*/
    &:hover {
      width: 320px;
      max-width: 320px;
      border-right: 2px solid $catalog-menu-border-color;

      .catalog-menu__item {
        width: 318px;
      }

      .catalog-menu__item--collapsing {
        width: 158px;
        border-right: 2px solid $catalog-menu-border-color;
        margin-top: -50px;
      }

      .catalog-menu__item--collapsing-right {
        visibility: visible;
        height: 50px;
        margin-top: 0;
        margin-left: 160px;
        border-right: none;
      }
    }
  }

  .catalog-menu__item,
  .catalog-menu__item--collapsing {
    width: 65px;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    transition-property: all;
    transition-duration: $cat-delay*2;
  }

  .catalog-menu__item--collapsing-right {
    visibility: hidden;
    height: 0;
  }
  /*показываем скрытые в мобильной версии ссылки-дубликаты*/
  .catalog-menu__item--discount {
    display: block;
  }
  .catalog-menu__item--instock {
    display: block;
    margin-bottom: auto;
  }
  /*при наведении на категорию показывается выпадающее подменю этой категории*/
  .catalog-menu__item:hover .catalog-menu__category-list {
    visibility: visible;
    opacity: 1;
  /*стилизуем скролл у меню подкатегории*/
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #fae7cf;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ff851e;
    }
    &::-moz-scrollbar {
      width: 8px;
      background-color: #fae7cf;
    }
    &::-moz-scrollbar-thumb {
      background-color: #ff851e;
    }
    scrollbar-base-color: #ff851e;
    scrollbar-3dlight-color: #ff851e;
    scrollbar-highlight-color: #fae7cf;
    scrollbar-track-color: #fae7cf;
    scrollbar-arrow-color: #fae7cf;
    scrollbar-shadow-color: #fae7cf;
    scrollbar-dark-shadow-color: #fae7cf;
  }

  /*белая подложка стилизуется отдельно для плавной анимации*/
  .catalog-menu__item::before {
    content: "";
    display: block;
    visibility: hidden;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 320px;
    width: 320px;
    background-color: white;
    transition-property: visibility,opacity;
    transition-duration: $cat-duration;
    transition-delay: $cat-delay;
    transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    box-shadow: 3px 0 8px rgba(49, 54, 54, 0.2);
  }

  .catalog-menu__item:hover::before {
    visibility: visible;
    transition-property: visibility;
    transition-duration: $cat-duration;
    transition-delay: 20ms;
  }

  /*ссылки без выпадающего меню*/
  .catalog-menu__item--discount:hover::before,
  .catalog-menu__item--instock:hover::before {
    visibility: hidden;
  }
  /*ссылка на личный кабинет прилипает к низу*/
  .catalog-menu__item--personal {
      margin-top: -2px;
  }

  /*поведение пунктов первого уровня меню по наведению мыши*/
  .catalog-menu__item:hover .catalog-menu__section-link {
    background-color: #ff851e;
    border-color: #ff851e;
    color: white;
    transition-property: all;
    transition-delay: $cat-delay;
    transition-duration: $cat-duration;
  }
  @each $icon in $catalog-icons {
    .catalog-menu__item:hover .catalog-menu__section-link--#{$icon}::before {
      background-image: svg-load('../icons/#{$icon}.svg', stroke=#ffffff, fill=none, stroke-width=2);
    }
  }

  /*ссылка для входа стилизуется отдельно*/
  .catalog-menu__item:hover .catalog-menu__section-link--personal {
    &::before {
      background-image: svg-load('../icons/enter.svg', stroke=#ffffff, fill=none, stroke-width=2);
    }
  }


  /*убираем автоматические стрелочки для ссылок на подменю*/
  .catalog-menu__section-link::after {
    visibility: hidden;
  }
  /*показываем их по наведению*/
  .catalog-menu__item:hover .catalog-menu__section-link::after {
    visibility: visible;
    border-color: white;
  }

  /*стилизуем выпадающее меню подкатегорий*/
  /*Заголовок категории*/
  .catalog-menu__category-header {
    display: inline;
    background: none;
    border-bottom: none;
    font-size: 30px;
    font-weight: 300;
    line-height: 50px;
    color: $lightorange-color;
    text-decoration: none;
    margin-bottom: 14px;
    &:hover {
      background: none;
      text-decoration: underline;
    }
  }
  /*выпадающее подменю-список*/
  .catalog-menu__category-list {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    list-style-type: none;
    top: 70px;
    bottom: 0;
    left: 320px;
    width: 320px;
    transition-property: visibility, opacity;
    transition-duration: $link-duration;
    transition-delay: $cat-delay;
    padding-top: 20px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 200;
    overflow-y: auto;
  }


  /*списки ссылок на подкатегории*/
  .catalog-menu__subcategory-list {
    list-style: none;
    display: block;
    margin-left: 20px;
  }

  .catalog-menu__subcategory-list--no-margin {
    margin-left: 0;
  }

  .catalog-menu__subcategory-header {
    display: none;
  }

  .catalog-menu__category-name {
    display: block;
    height: auto;
    background: none;
    border-bottom: none;
    line-height: 25px;
    text-decoration: none;
    color: #282828;

    &:hover {
      color: $lightorange-color;
      text-decoration: underline;
      background: none;
    }
    /*убираем стрелки у ссылок на раскрывающиеся категории*/
    &:after {
      display: none;
    }
  }

  .catalog-menu__category-name--header-style {
    font-size: 30px;
    font-weight: 300;
    line-height: 50px;
    color: $lightorange-color;
    text-decoration: none;
    margin-bottom: 14px;
    cursor: auto;
    &:hover {
      text-decoration: none;
    }
  }
  /*стилизуем ссылки последнего уровня*/
  .catalog-menu__subcategory-link {
    display: block;
    height: auto;
    border-bottom: none;
    text-decoration: none;
    color: $blackgrey-color;
    line-height: 23px;

    &:hover {
      color: $lightorange-color;
      text-decoration: underline;
      background: none;
    }
  }
}
@media #{$desktop-width} {
  /*возвращаем узким ссылкам нормальное поведение*/
  .catalog-menu__item--collapsing-right {
    visibility: visible;
    height: 50px;
  }

  .catalog-menu:hover {
    .catalog-menu__item--collapsing {
      width: 318px;
      border-right: none;
      margin-top: 0;
      margin-left: 0;
    }
  }
}
