.catalog{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 25px;
  margin-bottom: 15px;


}


.catalog__item{
  margin-right: 26px;
  margin-bottom: 26px;
}
