/*в мобильной версии подменю фабрик скрыто*/
.sub-menu.fabrics-menu {
  display: none;
}
@media #{$tablet-width} {
  .fabrics-menu {
    box-sizing: border-box;
    display: block;
    width: 90vw;

    left: -230px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    z-index: 100;

  }
.fabrics-menu__main-container{
  position: relative;
  width: inherit;
}
  .fabrics-menu__panel {
    display: flex;
    box-sizing: border-box;

    width: inherit;
    background-color: #f4f3ef;
    height: 40px;
    max-width: 90vw;


    padding-left: 19px;
    padding-right: 26px;
  }

  .fabrics-menu__letter-link {
    display: inline-block;
    position: relative;
    width: 26px;
    text-align: center;
    height: 40px;
    color: #282828;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      border-bottom: 2px dotted #282828;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 13px;
    }

    &:hover {
      background-color: $lightorange-color;
      color: white;
    }

    &:hover::after {
      border-bottom-color: white;
    }
  }

 .fabrics-menu__letter-link--popular {
    width: 167px;
    text-align: center;
    margin-right: 25px;
    background-color: $lightorange-color;
    color: white;

    &::after {
      width: 110px;
      border-color: white;
    }
  }
.fabrics-menu__scroll-container{
  overflow-y: auto;
  height: 60vw;
  max-width: 95vw;

}

  .fabrics-menu__brand-lists {
    padding-top: 21px;
    padding-bottom: 35px;
    padding-right: 40px;
    max-width: inherit;
    min-width: 910px;
    max-height: 730px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;

  }

  .fabrics-menu__sublist {
    display: block;
    position: relative;
    width: 190px;
    padding-bottom: 20px;

  }

  .fabrics-menu__sublist-letter {
    position: absolute;
    left: 7px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    color: #ff851e;
  }

  .fabrics-menu__brand-link {
    display: inline;
    padding: 0;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #282828;
    background: none;
    border: none;

    &:hover {
      text-decoration: underline;
      color: #ff851e;
      background: none;
    }
  }
}
