.featured {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}

.featured__item {
  position: relative;
  width: 62px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured__item--recent,
.featured__item--shopping-card {
  display: none;
}

.featured__link {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  font-size: 0;
  display: block;
  margin: auto;
  line-height: 68px;
  vertical-align: center;
  cursor: pointer;
}
.featured__link--counting{

  &::after {
    content: attr(data-count);
    position: absolute;
    right: -15px;
    top: -4px;
    min-width: 24px;
    max-width: 38px;
    width: auto;
    height: 17px;
    background-color: #ff851e;
    border-radius: 8px;
    color: white;
    font-size: 11px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
  }
}

.featured__link--shopping-card {
  width: 23px;
  height: 25px;
  background-image: svg-load('../icons/shopping.svg', fill=#4c4c4c);
}

.featured__link--liked {
  width: 25px;
  height: 23px;
  background-image: svg-load('../icons/heart.svg', fill=#4c4c4c);
}

.featured__link--recent {
  width: 24px;
  height: 23px;
  background-image: svg-load('../icons/recent.svg', fill=#4c4c4c);
}
@media #{$tablet-width} {
  .featured {
    background-color: #f4f3ef;
  }

  .featured__item {
    &:not(:last-of-type)::after {
      content: "";
      display: block;
      width: 1px;
      height: 24px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #939390;
    }
  }

  .featured__item--recent,
  .featured__item--shopping-card {
    display: flex;
  }
}
