
.geolocation{
  position: absolute;
  top: 51px;
  left: 75px;
  width: 230px;
}



.geolocation__current{
  font-size: 11px;
  color:#e6432f;
  text-decoration: none;
  text-align:center;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  z-index: 20;
  &:hover{
    color:#ff832e;
  }
  }

  .geolocation__picker-wrap{
    position: absolute;
    top:15px;
    left:0;
    height: 300px;
    padding: 10px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(49, 54, 54, 0.25);
    z-index: 600;
    display: none;
  }

.geolocation__current-style{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left:0;
    border-bottom: 2px dotted #e6432f;
    width: 100%;
  }
  &:hover::after{
    border-bottom: 2px dotted #ff832e;
  }
}

.geolocation__picker{
overflow-y: auto;
height: 250px;
&::-webkit-scrollbar {
  width: 8px;
  background-color: #fae7cf;
}
&::-moz-scrollbar {
  width: 8px;
  background-color: #fae7cf;
}
&::-webkit-scrollbar-thumb {
  background-color: #ff851e;
}
&::-moz-scrollbar-thumb {
  background-color: #ff851e;
}
}


.geolocation:hover .geolocation__picker{
  display: block;
}

.geolocation__header{
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;

}
.geolocation__region-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.geolocation__region-link{
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #ff851e;
  cursor: pointer;
}

.geolocation__region-link:hover{
  color:#eb6500;
}
