
.good{
  box-sizing: border-box;
  position: relative;
  width: 265px;
  min-height: 300px;
}

.good__base-info{
  position: relative;
  min-height: 300px;
}


.good__link{
  position: relative;
  text-decoration: none;
  display: block;
  font-size: 0;
  margin-bottom: 18px;
}
.good__id{
  display: none;
}
.good:hover .good__id{
  display: inline-block;
  position: absolute;
  bottom:0;
  left: 0;
  font-size: 14px;
  color: white;
  line-height: 32px;
  background-color: #282828;
  padding-left: 7px;
  padding-right: 7px;
  z-index: 10;
}

.good:hover .good__zoom{
  display: block;
  position: absolute;
  @extend .absolute-center-positioned;
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/zoom.png");

}




.good__names{
  max-width: 265px;

}

.good:hover .good__back{
  position: absolute;
  box-sizing: border-box;
  padding: 13px;
  top:-13px;
  left: -13px;
  display: block;
  width: 292px;
  z-index: 15;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 0 15px rgba(49, 54, 54, 0.25);
}
.good:hover .good__link{
  position: relative;
}
.good__names{
  position: relative;
}


.good:hover .good__info{
  display: block;
}



.good__photo{
  width: 265px;
  height: 175px;
}
.good__brand{
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #6e6e6e;

}
.good__name-link{
  text-decoration: underline;
  display: block;
  color: #282828;
  font-size: 20px;
  line-height: 26px;
  font-weight: 900;
  letter-spacing: 1.4px;
  margin-bottom: 10px;
  height: 52px;
  max-height: 78px;/*запас на 3 строки*/
  overflow: hidden;
}


.good__name-link:hover{
  color: #ff851e;
}
.good__price{
  display: block;
  bottom: 0;
  font-size: 20px;
  line-height: 22px;
  color: #282828;
}
.good__price-value{
  font-size: 28px;
  line-height: 22px;
  color: #282828;
}

.good__info{
  display: none;
}

.good__description{
  color: #282828;
font-size: 16px;
font-weight: 300;
line-height: 18px;
}
.good__to-liked{
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #d4d4d4;
  background-image:linear-gradient(0,#ddd,transparent);
  color:#807f76;
  line-height: 35px;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;

}
