.main-nav.opened .main-menu {
  display: block;
}

.main-nav__btn-wrap {
  position: absolute;
  top: 24px;
  left: 20px;
  z-index: 35;
}

.main-nav__mobile-menu-btn {
  display: block;
  position: relative;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    box-sizing: border-box;
    display: block;
    width: 25px;
    border: 1px solid #242424;
    box-shadow: 0 10px 0 0 #242424, 0 -10px 0 0 #242424;
  }
}
/*при открытой навигации кнопка выглядит как крестик*/
.main-nav__mobile-menu-btn--close {

  &::before {
    box-shadow: none;
    box-sizing: border-box;
    width: 34px;
    height: 2px;
    background-color: #242424;
    top: 11px;
    left:-5px;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left:-5px;

    box-sizing: border-box;
    display: block;
    width: 34px;
    border: 1px solid #242424;
    height: 2px;
    background-color: #242424;
    transform: rotate(-45deg);
  }
}
@media #{$tablet-width} {
  .main-nav {
    display: block;
    position: static;
    margin-top: -69px;
  }

  .main-nav__mobile-menu-btn {
    display: none;
  }
}
