.page-content__wrap {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  color: #282828;
  font-size: 13px;
}

  .page-content__wrap>h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .page-content__wrap>h2 {
    font-size: 25px;
    margin-bottom: 6px;
  }

  .page-content__wrap>h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .page-content__wrap>p {
    color: #282828;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
  }

  .page-content__wrap>dl {
    background-color: #f4f3ef;
    box-sizing: border-box;
    margin-top: 0;
    color: #282828;
    line-height: 16px;
    padding: 10px 5px;
    max-width: 655px;
  }

  .page-content__wrap>dt {
    margin-bottom: 12px;
  }

  .page-content__wrap>dd {
    margin-left: 0;
  }

  .page-content__wrap>p a,
  .page-content__wrap>ul a {
    color: #ff851e;
    text-decoration: underline;

    &:hover {
      color: #eb6500;
      text-decoration: none;
    }
  }

  .order-list {
    list-style-type: none;
    padding-left: 30px;
  }
  /*нумерованный список с номерами из псевдоэлементов
хорошо отображается до 10 пунктов*/
  .order-list li {
    counter-increment: flag;
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;

    &::before {
      content: counter(flag);
      font-weight: bold;
      position: absolute;
      left: 0;
    }

    &::after {
      content: ".";
      font-weight: bold;
      position: absolute;
      left: 9px;
      top: 0;
    }
  }

@media #{$tablet-width} {
  .page-content__wrap {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 0;
    font-size: 16px;
  }

  .page-content__wrap>h1 {
      font-size: 50px;
      margin-bottom: 35px;
      line-height: 51px;
      margin-top: 40px;
      letter-spacing: 2.8px;
      max-width: 825px;
    }

    .page-content__wrap>h2 {
      font-size: 40px;
      line-height: 45px;
      margin-top: 32px;
      max-width: 825px;
    }

    .page-content__wrap>h3 {
      font-size: 30px;
      line-height: 30px;
      font-weight: 300;
      max-width: 825px;
      margin-bottom: 20px;
    }

    .page-content__wrap>p {
      max-width: 825px;
      font-size: 16px;
      line-height: 24px;
    }

    .page-content__wrap>dl {
      box-sizing: border-box;
      margin-top: 0;
      padding: 30px 120px 29px 64px;
      font-size: 20px;
      color: #282828;
      line-height: 28px;
    }

    .list {
      padding-left: 0;
      list-style: none;
      font-size: 16px;
      line-height: 24px;
      max-width: 825px;
    }

    .list li {
      padding-left: 65px;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        left: 31px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #242424;
      }
    }

    .order-list {
      list-style-type: none;
      padding-left: 30px;
      max-width: 825px;
    }
    /*нумерованный список с номерами из псевдоэлементов
  хорошо отображается до 10 пунктов*/
    .order-list li {
      margin-bottom: 17px;
      line-height: 24px;
    }

}
