.search {
  display: none;
  width: 100%;
  position: relative;

  .link-back {
    display: none;
  }
}

.search__form {
  display: none;
}

.search__submit-btn {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 16px;
  color: white;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  height: 48px;
  width: 73px;
  background-color: #ff851e;
  font-weight: 300;
  padding: 0;
  outline: none;
  cursor: pointer;
  margin: 0;
}

.search__query-input {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 48px;
  padding: 0 5px 0 21px;
  outline: none;
  border: none;
  flex-grow: 1;
}

.search.opened {
  display: block;

  .search__form {
    display: block;

    position: relative;
    border-bottom: 2px solid #e4e3e1;
    width: auto;

  }

.search__query-input-wrap{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

}

  .search__toggle {
    display: none;
  }

  .link-back {
    display: block;
  }
}
@media #{$tablet-width} {
  /*стили поиска для закрытого состояния*/
  .search {
    display: block;
    height: 68px;
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    z-index: 35;

    .search__toggle {
      display: block;
      width: 65px;
      height: 68px;
      position: relative;
      padding: 0;
      background-color: #f4f3ef;
      cursor: pointer;
      font-size: 0;
      border-bottom: none;

      &::before {
        content: "";
        position: absolute;
        width: 27px;
        height: 26px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        background-position: center;
        background-image: svg-load('../icons/search.svg', stroke=#404040, fill=none, stroke-width=2);
      }

      &::after {
        display: none;
      }
    }

    .search__form {
      display: none;
      border-bottom: none;
    }
  }

  /*стилизация поиска в открытом состоянии*/
  .opened.search {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    height: 68px;

    .search__container {
      width: 100%;
    }

    .search__toggle {
      display: block;
      background-image: none;
      background-color: white;

      &::before {
        content: "";
        width: 31px;
        height: 2px;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: #424242;
        position: absolute;
        top: 50%;
        left: 50%;
      }

      &::after {
        content: "";
        display: block;
        width: 31px;
        height: 1px;
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: #424242;
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }

    .link-back {
      display: none;
    }

    .search__form {
      display: flex;
      flex-grow: 1;
      flex-wrap: nowrap;
      position: relative;
      border-bottom: none;
    }

    .search__query-input {
      height: 68px;
      box-sizing: border-box;
      flex-grow: 1;
      margin: 0;
      padding-left: 28px;
      padding-right: 28px;
      border: none;
      outline: none;
      font-size: 40px;
      color: #424242;
      font-weight: 200;
      position: relative;
    }

    .search__submit-btn {
      flex-grow: 0;

      flex-shrink: 0;
      font-size: 30px;
      color: white;
      box-sizing: border-box;
      border: none;
      box-shadow: none;
      height: 69px;
      width: 171px;
      background-color: #ff851e;
      font-weight: 300;
      padding: 0;
      outline: none;
      cursor: pointer;
    }

    .search__result {
      position: absolute;
      left: 0;
      top: 69px;
      display: none;
    }
    /*при открытом поиске скрывается user-id*/
    ~.page-header__user-id {
      display: none;
    }
  }
}
